<head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <title>Node editProfile</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

    <!-- load bootstrap css -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <link rel="stylesheet" href="client/style/css-dest/style.min.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/ui-router/release/angular-ui-router.min.js"></script>
    <!-- jquery-ui -->
    <link rel="stylesheet" href="bower_components/jquery-ui/jquery-ui.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <!-- tag-editor -->
    <script src="bower_components/jquery-tag-editor/jquery.tag-editor.js"></script>
    <link rel="stylesheet" href="bower_components/jquery-tag-editor/jquery.tag-editor.css">
    <!-- circliful -->
    <link href="bower_components/circliful/css/jquery.circliful.css" rel="stylesheet" type="text/css" />
    <script src="bower_components/circliful/js/jquery.circliful.min.js"></script>
    <!-- hmap -->
    <script src="bower_components/highcharts/highcharts.js"></script>
    <script src="bower_components/highcharts/modules/map.js"></script>
    <script src="bower_components/highcharts/modules/data.js"></script>
    <script src="bower_components/highcharts/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/mapdata/countries/th/th-all.js"></script>

    <!-- rateYo -->
    <link rel="stylesheet" href="bower_components/rateYo/min/jquery.rateyo.min.css" />
    <script src="bower_components/rateYo/min/jquery.rateyo.min.js"></script>

    <!-- collapse -->
    <script type="text/javascript" src="bower_components/collapsible.js/jquery.collapsible.js"></script>
    <!--modals  -->
    <script src="bower_components/bootstrap/js/modal.js"></script>
    <!-- bootstrap social -->
    <link href="bower_components/bootstrap-social/bootstrap-social.css" rel="stylesheet" type="text/css" />
    <!-- noty -->
    <script type="text/javascript" src="bower_components/noty/js/noty/packaged/jquery.noty.packaged.min.js"></script>
    <!-- datetime picker -->
    <script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <!-- select2 -->
    <link href="bower_components/select2/dist/css/select2.min.css" rel="stylesheet" />
    <script type="text/javascript" src="bower_components/select2/dist/js/select2.min.js"></script>
    <!-- bootstrap social -->
    <link href="bower_components/bootstrap-social/bootstrap-social.css" rel="stylesheet" type="text/css" />

</head>


<body ng-app="sindicate">


    <div class="header">
        <div class="toptools">
            <div class="logo" style="background:url('/images/people.svg') no-repeat center center;background-size:contain;">
                <!-- <p>
                    sindicate <span><i class="fa fa-pie-chart"></i></span>
                </p> -->
            </div>
            <div class="notify">
                <span><i class="fa fa-share-square-o" aria-hidden="true"></i></span> แชร์ข้อมูลการศึกษา &nbsp; <a href="#" data-toggle="modal" data-target="#notifymodal"><span><i class="fa fa-envelope-o" ></i> </span> แจ้งเตือน</a>

                <!-- <button type="button" class="btn btn-info" data-toggle="modal" data-target="#{{'modal'+student.id}}" id="more_btn{{student.id}}">{{modal_btn_text}}</button> -->
                <div class="modal fade" id="notifymodal" role="dialog">
                    <div class="modal-dialog modal-lg">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h2 class="modal-title">การแจ้งเตือนที่ผ่านมา</h2>
                            </div>
                            <div class="modal-body">
                                <div class="logmsg">
                                    <span><b style="margin-right:10px;">25/03/2558 :</b></span>&nbsp;ยินดีต้อนรับเข้าสู่ระบบ Sindicate ขอบคุณที่ร่วมป็นส่วนหนึ่งเพื่อพัฒนาข้อมูล connection ระหว่างนิสิตปัจจุบันและนิสิตเก่า
                                    <span><b style="margin-right:10px;">25/04/2559 :</b></span>&nbsp;แจ้งเตือน!&nbsp;คุณไม่ได้อัพเดทข้อมูลตั้งแต่ <b>25/03/2558</b> โปรดอัพเดทข้อมูลส่วนตัวของท่านเพื่อให้ข้อมูลเป็นปัจจุบัน

                                </div>
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- end modal -->
            </div>
            <div class="logout">
                <p>
                    <a href="/logout">ออกจากระบบ</a>
                </p>
            </div>
        </div>
        <div class="brief-profile">
            <div class="circle-picture" style="background:url('/images/mypic.jpg') center center;background-size:cover;"></div>
            <div class="desc">
                <div class="greeting_msg">
                    <%=  msg %>
                </div>

                <p>วชิรกรณ์ รังสิกวานิช</p>

                <div class="icontools">
                    <!-- <div class="item">
                        <a href="/editProfile">
                            <p class="rightborder"> <span><i class="fa fa-share-square-o" aria-hidden="true"></i></span> แชร์ข้อมูลของคุณสิ</p>
                        </a>
                    </div> -->
                    <div class="item">
                        <a href="#">
                            <p><span><i class="fa fa-file-image-o" aria-hidden="true"></i></span> อัพโหลดรูปโปรไฟล์</p>
                        </a>
                    </div>

                </div>

            </div>
            <div class="desc">
                <p class="thx"> <span><i class="fa fa-line-chart"></i></span> ขอบคุณที่ให้ข้อมูลกับเราเพื่อนำไปพัฒนาปรับปรุงคุณภาพนิสิตต่อไป
                </p>

                <div class="progress">

                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                        70%
                    </div>
                </div>
            </div>

        </div>


    </div>

    <div class="layout" ng-controller="MainController">
        <div class="menuwrapper">
            <div class="menu">
                <div class="menuname">
                    ข้อมูลส่วนตัว
                </div>

                <ul>
                    <li ng-click='isVisible = "manageProfile"'><a id="manageprofile" href="">ข้อมูลส่วนตัว</a></li>
                    <li ng-click='isVisible = "manageEdu"'><a id="manageedu" href="">ข้อมูลการศึกษา</a></li>
                    <li ng-click='isVisible = "manageThesis"'><a id="managethesis" href="">ข้อมูลวิทยานิพนธ์</a></li>
                    <!-- <li ng-click='isVisible = "manageInterested"'><a id="manageinterested" href="">ข้อมูลความถนัด/ความสนใจ</a></li> -->
                    <li ng-click='isVisible = "manageInternship"'><a id="manageinternship" href="">ข้อมูลการฝึกงาน</a></li>
                    <li ng-click='isVisible = "manageFurtherEdu"'><a id="managefurtheredu" href="">ข้อมูลการศึกษาต่อ</a></li>


                </ul>
            </div>
            <div class="menu">
                <div class="menuname">
                    สถิติของภาควิชา
                </div>


                <ul>
                    <li ng-click='isVisible = "numPeople"'><a id="numPeople" href="">จำนวนนิสิต</a></li>
                    <li ng-click='isVisible = "numEdu"'><a id="numedu_btn" href="">จำนวนบุคลากร</a></li>
                    <li ng-click='isVisible = "eduOverview"'><a id="eduOverview_btn" href="">ภาพรวมทางการศึกษา</a></li>
                    <li ng-click='isVisible = "thesisOverview"'><a id="thesisOverview_btn" href="">ภาพรวมวิทยานิพนธ์</a></li>
                    <!-- <li ng-click='isVisible = "pollInterest"'><a id="pollinterest_btn" href="">ผลสำรวจความถนัด/ความสนใจ</a></li> -->
                    <li ng-click='isVisible = "pollInternship"'><a id="pollinternship_btn" href="">ผลสำรวจการฝึกงาน</a></li>
                    <li ng-click='isVisible = "pollFurtherEdu"'><a id="pollfurtheredu_btn" href="">ผลสำรวจการศึกษาต่อ</a></li>
                    <li ng-click='isVisible = "pollJob"'><a id="polljob_btn" href="">ผลสำรวจการประกอบอาชีพ</a></li>
                </ul>
            </div>
            <!-- <div class="menu">
                <div class="menuname">
                    เครื่องมือ
                </div>


                <ul>
                  <li ng-click='isVisible = "track"'><a id="track_btn" href="">ระบบติดตามผลการเรียนนิสิต</a></li>

                </ul>
            </div> -->
        </div>

        <div class="contentwrapper">

            <!-- manage profile -->
            <div class="content" ng-show='isVisible === "manageProfile"'>
                <div class="content_head">จัดการข้อมูลส่วนตัว<span><i class="fa fa-print"></i></span></div>
                <!-- form -->
                <form id="manageprofiledata" action="/update1" method="post">
                    <div class="profile1">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="x">รหัสนิสิต</label>
                                <input type="text" class="form-control" id="sid" name="sid" placeholder="">
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-group">
                                <label for="x">ชื่อ</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="x">นามสกุล</label>
                                <input type="text" class="form-control" id="surname" name="surname" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="x">รหัสบัตรประชาชน</label>
                            <input type="text" class="form-control" id="ssn" name="ssn" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="x">สัญชาติ</label>
                            <input type="text" class="form-control" id="nationality" name="nationality" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="x">เพศ</label>
                            <label class="radio-inline">
                                <input type="radio" name="gender" id="male" value="male">ชาย
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="gender" id="female" value="female">หญิง
                            </label>

                        </div>

                        <div class="form-group">
                            <label for="x">เบอร์โทร</label>
                            <input type="text" class="form-control" id="tel" name="tel">
                        </div>

                        <div class="form-group">
                            <label for="x">อีเมล</label>
                            <input type="text" class="form-control" id="email" name="email">
                        </div>
                        <label for="x">คุณเคยจบหลักสูตรใด ๆ ของจุฬาลงกรณ์มหาวิทยาลัยมาก่อนหรือไม่ ?</label>
                        <div class="form-group">

                            <label class="radio-inline">
                                <input type="radio" name="optradio1" id="is_alumni_yes" value="yes">เคย
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio1" id="is_alumni_no" value="no">ไม่เคย
                            </label>

                        </div>
                        <!-- <div class="form-inline">
                            <div class="form-group">
                                <label for="x">ภาค/สาขา</label>
                                <input type="text" class="form-control" id="department" placeholder="">
                            </div>
                        </div> -->

                        <div class="form-group">
                            <label for="x">วันเกิด</label>
                            <div class='input-group date' id='datetimepicker1'>

                                <input type="text" class="form-control" id="birthday" name="birthday" placeholder="">
                                <span class="input-group-addon">
                             <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-group">
                                <label for="x">ชื่อผู้ปกครอง</label>
                                <input type="text" class="form-control" id="parent_name" name="parent_name" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="x">นามสกุล</label>
                                <input type="text" class="form-control" id="parent_surname" name="parent_surname" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="x">เบอร์โทรผู้ปกครอง</label>
                            <input type="text" class="form-control" id="parent_tel" name="parent_tel" placeholder="">
                        </div>
                        <div class="form-group">
                            <button id="manageprofile_submit_btn_profile1" type="submit" class="btn btn-default">ยืนยัน</button>
                            <button id="manageprofile_edit_btn_profile1" type="button" class="btn btn-default">แก้ไข</button>
                        </div>
                    </div>
                </form>


                <!-- addr main -->
                <!-- <label for="x" style="margin-top:30px;vertical-align:bottom;font-size:30px;">ที่อยู่ตามทะเบียนบ้าน</label>
                    <hr />

                    <div class="form-inline">
                        <div class="form-group" >
                            <label for="x">เลขที่</label>
                            <input type="text" class="form-control" id="f_address" name="address">
                        </div>
                        <div class="form-group" style="">
                            <label for="x">หมู่</label>
                            <input type="text" class="form-control" id="f_moo" name="moo">
                        </div>
                        <div class="form-group" style="">
                            <label for="x">ถนน</label>
                            <input type="text" class="form-control" id="f_road" name="road">
                        </div>
                        <div class="form-group" style="">
                            <label for="x">แขวง/ตำบล</label>
                            <input type="text" class="form-control" id="f_subDistrict" name="f_subDistrict">
                        </div>
                        <div class="form-group" style="">
                            <label for="x">เขต/อำเภอ</label>
                            <input type="text" class="form-control" id="f_district" name="f_district">
                        </div>

                        <div class="form-group">
                            <label for="x">จังหวัด/เมือง</label>
                            <input type="text" class="form-control" id="f_city" name="f_city">
                        </div>
                        <div class="form-group">
                            <label for="x">รหัสไปรษณีย์</label>
                            <input type="text" class="form-control" id="f_postcode" name="f_postcode">
                        </div>
                        <div class="form-group">
                            <label for="x">ประเทศ</label>
                            <input type="text" class="form-control" id="f_country" name="f_country">
                        </div>
                    </div> -->
                <!-- addr now -->
                <form id="manageprofiledata" action="/update2" method="post">
                    <label for="x" style="margin-top:30px;vertical-align:bottom;font-size:30px;">ที่อยู่ปัจจุบัน</label>
                    <hr />
                    <div class="profile2">

                        <label for="x">ที่อยู่</label>
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="ssn2" name="ssn2">
                        </div>
                        <div class="form-group">

                            <textarea class="form-control" id="s_address" name="addr" rows="3"></textarea>
                            <div class="example">
                                ตัวอย่าง 88/8 ถ.สุขุมวิท หมู่ 4 ต.เสม็ด อ.เมือง จ.ชลบุรี 20000
                            </div>
                        </div>

                        <!-- <div class="form-group" style="">
                                <label for="x">เลขที่</label>
                                <input type="text" class="form-control" id="s_address" name="s_address">
                            </div>
                            <div class="form-group" style="">
                                <label for="x">หมู่</label>
                                <input type="text" class="form-control" id="s_moo" name="s_moo">
                            </div>
                            <div class="form-group" style="">
                                <label for="x">ถนน</label>
                                <input type="text" class="form-control" id="s_road" name="s_road">
                            </div>
                            <div class="form-group" style="">
                                <label for="x">แขวง/ตำบล</label>
                                <input type="text" class="form-control" id="s_subDistrict" name="s_subDistrict">
                            </div>
                            <div class="form-group" style="">
                                <label for="x">เขต/อำเภอ</label>
                                <input type="text" class="form-control" id="s_district" name="s_district">
                            </div>

                            <div class="form-group">
                                <label for="x">จังหวัด/เมือง</label>
                                <input type="text" class="form-control" id="s_city" name="s_city">
                            </div>
                            <div class="form-group">
                                <label for="x">รหัสไปรษณีย์</label>
                                <input type="text" class="form-control" id="s_postcode" name="s_postcode">
                            </div>
                            <div class="form-group">
                                <label for="x">ประเทศ</label>
                                <input type="text" class="form-control" id="s_country" name="s_country">
                            </div> -->
                        <div class="form-group">
                            <button id="manageprofile_submit_btn_profile2" type="submit" class="btn btn-default">ยืนยัน</button>
                            <button id="manageprofile_edit_btn_profile2" type="button" class="btn btn-default">แก้ไข</button>
                        </div>


                    </div>
                </form>

                <form id="manageprofiledata" action="/update3" method="post">
                    <div class="form-group">
                        <label for="x" style="margin-top:30px;vertical-align:bottom;font-size:30px;">ปักหมุดที่อยู่ของคุณ</label>
                        <hr />
                        <div class="profile3">
                            <div class="form-group">
                                <input type="hidden" class="form-control" id="ssn3" name="ssn3">
                            </div>
                            <div class="chartwrapper">
                                <div id="map"></div>
                            </div>
                            <div class="form-inline">
                                <div class="form-group" style="">
                                    <label for="x">latitude</label>
                                    <input type="text" class="form-control" id="latitude" name="latitude">
                                </div>
                                <div class="form-group" style="">
                                    <label for="x">longitude</label>
                                    <input type="text" class="form-control" id="longitude" name="longitude">
                                </div>
                            </div>
                            <div class="form-group last">
                                <button id="manageprofile_submit_btn_profile3" type="submit" class="btn btn-default">ยืนยัน</button>
                                <button id="manageprofile_edit_btn_profile3" type="button" class="btn btn-default">แก้ไข</button>
                            </div>
                        </div>

                    </div>




                </form>
            </div>
            <!-- end manage profile -->

            <div class="content" ng-show='isVisible === "manageEdu"'>
                <div class="content_head">ข้อมูลทางการศึกษา<span><i class="fa fa-print"></i></span></div>
                <!-- panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">ประวัติการศึกษา</div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>ชื่อสถานศึกษา</th>
                                <th>วุฒิการศึกษา</th>
                                <th>สาขาวิชา</th>
                                <th>ปีที่จบการศึกษา</th>


                            </tr>
                        </thead>
                        <tbody>

                            <% profileEdus.forEach(function(item){ %>
                                <tr>
                                    <td>
                                        <%= item.name %>
                                    </td>
                                    <td>
                                        <%= item.level %>
                                    </td>
                                    <td>
                                        <%= item.branch %>
                                    </td>
                                    <td>
                                        <%= item.format_graduate_date %>
                                    </td>
                                </tr>
                                <% }); %>


                        </tbody>
                    </table>
                </div>
                <!-- end panel -->
                <form class="" action="/update4" method="post">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="ssn4" name="ssn4">
                    </div>
                    <label for="x" style="font-size:20px;">เพิ่มประวัติการศึกษา</label>
                    <div class="profileEdu">

                        <div id="eduGroup" class="form-inline">
                            <label for="x">ชื่อสถานศึกษา</label>
                            <div class="form-group">

                                <select class="js-example-data-array" name="uid">

                                </select>
                                <!-- <input type="text" class="form-control" id="name" name="name"placeholder=""> -->
                            </div>
                            <div class="form-group">
                                <label for="x">วุฒิการศึกษา</label>
                                <select class="js-example-data-array2" name="level">

                                </select>
                            </div>
                            <div class="form-group">
                                <label for="x">สาขาวิชา</label>
                                <input type="text" class="form-control" id="branch" name="branch">
                            </div>

                            <div class="form-group">
                                <label for="x">ปีที่สำเร็จ</label>
                                <div class="input-group date" id="datetimepicker2">

                                    <input type="text" class="form-control" id="graduate_date" name="graduate_date" placeholder="">
                                    <span class="input-group-addon">
                                 <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>

                        </div>

                    </div>
                    <hr/>

                    <div class="form-group last">
                        <button id="manageEdu_submit_btn" type="submit" class="btn btn-default">เพิ่ม</button>
                    </div>

                </form>
            </div>
            <!-- end manage edu -->
            <!-- myThesis -->
            <div class="content" ng-show='isVisible === "manageThesis"'>
                <div class="alert alert-warning">
                    <strong>แจ้งเตือน!</strong> นิสิตปริญญาตรีไม่สามารถแก้ไขข้อมูลวิทยานิพนธ์ได้.
                </div>
                <div class="content_head">ข้อมูลวิทยานิพนธ์ของคุณ<span><i class="fa fa-print"></i></span></div>

                <form id="thesisdata">
                    <div class="form-group">
                        <label for="x">ชื่อวิทยานิพนธ์(ไทย)</label>
                        <input type="text" class="form-control" id="thesisTH" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="x">ชื่อวิทยานิพนธ์(อังกฤษ)</label>
                        <input type="text" class="form-control" id="thesisEN" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="x">อาจารย์ที่ปรึกษา</label>
                        <input type="text" class="form-control" id="advisor" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="x">อาจารย์ที่ปรึกษาร่วม</label>
                        <input type="text" class="form-control" id="coadvisor" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="x">ทุนที่ได้รับ</label>
                        <textarea class="form-control" id="scholarship" rows="3" placeholder=""></textarea>

                    </div>
                    <div class="form-group">
                        <label for="x">รางวัลที่ได้รับ</label>
                        <textarea class="form-control" id="award" rows="3" placeholder=""></textarea>

                    </div>
                    <div class="form-group">
                        <label for="x">ผลงานที่เข้าร่วมประชุมวิชาการในประเทศ</label>
                        <textarea class="form-control" id="thconference" rows="3" placeholder=""></textarea>

                    </div>
                    <div class="form-group">
                        <label for="x">ผลงานที่เข้าร่วมประชุมวิชาการต่างประเทศ</label>
                        <textarea class="form-control" id="intconference" rows="3" placeholder=""></textarea>

                    </div>
                    <div class="form-group">
                        <label for="x">ผลงานที่ได้ตีพิมพ์ในประเทศ</label>
                        <textarea class="form-control" id="thpub" rows="3" placeholder=""></textarea>

                    </div>
                    <div class="form-group">
                        <label for="x">ผลงานที่ได้ตีพิมพ์ต่างประเทศ</label>
                        <textarea class="form-control" id="intpub" rows="3" placeholder=""></textarea>

                    </div>
                    <div class="form-group last">
                        <button id="thesis_edit_btn" type="submit" class="btn btn-default">แก้ไข</button>
                        <button id="thesis_submit_btn" type="submit" class="btn btn-default">ยืนยัน</button>
                    </div>

                </form>


            </div>

            <div class="content" ng-show='isVisible === "manageThesis"'>
                <div class="content_head">แฟ้มเก็บวิทยานิพนธ์<span><i class="fa fa-print"></i></span></div>
                <button class="file-upload">
                    <input type="file" class="file-input">Choose File</button>

            </div>
            <!-- end myThesis -->
            <!-- manage internship -->
            <!-- <div class="content" ng-show='isVisible === "manageInterested"'>
                <div class="content_head">ข้อมูลความถนัด/ความสนใจ<span><i class="fa fa-print"></i></span></div>

                <label for="x" style="font-size:20px;padding:10px">ภาษาคอมพิวเตอร์ที่ถนัด</label>
                <textarea id="comlang" rows="2" cols="50">c++,java</textarea>
                <label for="x" style="font-size:20px;padding:10px">งานอดิเรก</label>
                <textarea id="hobby"></textarea>
                <label for="x" style="font-size:20px;padding:10px">ระบบปฏิบัติการที่ชอบ</label>
                <textarea id="os"></textarea>
                <label for="x" style="font-size:20px;padding:10px">ใช้โทรศัพท์ยี่ห้อ</label>
                <textarea id="phone"></textarea>


            </div> -->

            <div class="content" ng-show='isVisible === "manageInternship"'>
                <div class="content_head">ข้อมูลการฝึกงาน<span><i class="fa fa-print"></i></span></div>
                <form id="internshipdata">
                    <div class="form-group">
                        <label for="x">ชื่อหน่วยงาน</label>
                        <input type="text" class="form-control" id="nameInternshipCompany" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="x">วันที่เริ่มฝึกงาน</label>
                        <input type="text" class="form-control" id="startDateIntern" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="x">วันที่จบฝึกงาน</label>
                        <input type="text" class="form-control" id="endDateIntern" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="x">ความประทับใจของคุณต่อหน่วยงาน</label>
                        <textarea class="form-control" id="impression" rows="3" placeholder=""></textarea>


                    </div>

                    <div class="form-group">
                        <label for="x">คะแนน</label>
                        <div id="rateinput"></div>

                    </div>

                    <div class="form-group last">
                        <button id="thesis_edit_btn" type="submit" class="btn btn-default">แก้ไข</button>
                        <button id="thesis_submit" type="submit" class="btn btn-default">ยืนยัน</button>
                    </div>

                </form>

            </div>
            <!-- manage further edu -->
            <div class="content" ng-show='isVisible === "manageFurtherEdu"'>
                <div class="content_head">ข้อมูลการศึกษาต่อต่างมหาวิทยาลัย<span><i class="fa fa-print"></i></span></div>
                <form id="internshipdata">
                    <div class="form-group">
                        <label for="x">ชื่อมหาวิทยาลัย</label>
                        <input type="text" class="form-control" id="thesisTH" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="x">วันที่เข้าศึกษา</label>
                        <input type="text" class="form-control" id="thesisEN" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="x">ปีที่คาดว่าจะจบ</label>
                        <input type="text" class="form-control" id="advisor" placeholder="">
                    </div>

                    <div class="form-group last">
                        <button id="thesis_edit_btn" type="submit" class="btn btn-default">แก้ไข</button>
                        <button id="thesis_submit_btn" type="submit" class="btn btn-default">ยืนยัน</button>
                    </div>

                </form>
            </div>
            <!-- departmental students -->



            <div class="content" ng-show='isVisible === "numPeople"'>
                <div class="alert alert-info">
                    <strong>อ้างอิง</strong> รายงานจํานวนนิสิตทั้งหมด ภาคการศึกษา 2/2558 จําแนกตามคณะ สาขาวิชา ระดับการศึกษา
                </div>
                <div class="content_head">ข้อมูลจำนวนนิสิตจำแนกตามเพศ<span><i class="fa fa-print"></i></span></div>
                <!-- panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">ตารางแสดงจำนวนนิสิตแยกตามเพศ</div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>ระดับการศึกษา</th>
                                <th>ชาย</th>
                                <th>หญิง</th>
                                <th>รวม</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><a href="#">ปริญญาตรี</a></th>
                                <td>
                                    <%=number_stu.bmale %>
                                </td>
                                <td>
                                    <%=number_stu.bfemale %>
                                </td>
                                <td>
                                    <%=number_stu.bmale+number_stu.bfemale %>
                                </td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">ปริญญาโท</a></th>
                                <td>
                                    <%=number_stu.msmale %>
                                </td>
                                <td>
                                    <%=number_stu.msfemale %>
                                </td>
                                <td>
                                    <%=number_stu.msmale+number_stu.msfemale %>
                                </td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">ปริญญาเอก</a></th>
                                <td>
                                    <%=number_stu.phdmale %>
                                </td>
                                <td>
                                    <%=number_stu.phdfemale %>
                                </td>
                                <td>
                                    <%=number_stu.phdmale+number_stu.phdfemale %>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- end panel -->
                <div class="meterGroup" style="width:50%;">
                    <div class="meter" id="male"></div>
                    <div class="meter" id="female"></div>

                </div>

            </div>

            <div class="content" ng-show='isVisible === "numPeople"'>
                <div class="alert alert-info">
                    <strong>อ้างอิง</strong> รายงานจํานวนนิสิตทั้งหมด ภาคการศึกษา 2/2558 จําแนกตามคณะ สาขาวิชา ระดับการศึกษา
                </div>
                <div class="content_head">ข้อมูลจำนวนนิสิตจำแนกตามสถานะ<span><i class="fa fa-print"></i></span></div>
                <!-- panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">ตารางแสดงจำนวนนิสิตแยกตามเพศ</div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>ระดับการศึกษา</th>
                                <th>ปกติ</th>
                                <th>แลกเปลี่ยน</th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><a href="#">ปริญญาตรี</a></th>
                                <td>
                                    <%=number_stu.num_bstu%>
                                </td>
                                <td>
                                    <%=number_stu.num_bstu_ex%>
                                </td>


                            </tr>
                            <tr>
                                <th scope="row"><a href="#">ปริญญาโท</a></th>
                                <td>
                                    <%=number_stu.num_msstu%>
                                </td>
                                <td>
                                    <%=number_stu.num_msstu_ex%>
                                </td>


                            </tr>
                            <tr>
                                <th scope="row"><a href="#">ปริญญาเอก</a></th>
                                <td>
                                    <%=number_stu.num_phdstu%>
                                </td>
                                <td>
                                    <%=number_stu.num_phdstu_ex%>
                                </td>


                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- end panel -->
                <label for="x" style="font-size:20px;padding:10px">ปริญญาตรี</label>
                <div class="meterGroup" style="width:50%;">
                    <div class="meter" id="b_numStu"></div>
                    <div class="meter" id="b_numStuExchange"></div>


                    <!-- <div class="meter" id="numStuSum"></div> -->
                </div>

                <hr>

                <label for="x" style="font-size:20px;padding:10px">ปริญญาโท</label>
                <div class="meterGroup" style="width:50%;">
                    <div class="meter" id="m_numStu"></div>
                    <div class="meter" id="m_numStuExchange"></div>


                    <!-- <div class="meter" id="numStuSum"></div> -->
                </div>
                <hr>

                <label for="x" style="font-size:20px;padding:10px">ปริญญาเอก</label>
                <div class="meterGroup" style="width:50%;">
                    <div class="meter" id="d_numStu"></div>
                    <div class="meter" id="d_numStuExchange"></div>


                    <!-- <div class="meter" id="numStuSum"></div> -->
                </div>
                <hr>


            </div>
            <div class="content" ng-show='isVisible === "numPeople"'>
                <div class="alert alert-info">
                    <strong>อ้างอิง</strong> รายงานจํานวนนิสิตทั้งหมด ภาคการศึกษา 2/2558 จําแนกตามคณะ สาขาวิชา ระดับการศึกษา
                </div>
                <div class="content_head">ข้อมูลจำนวนนิสิตจำแนกตามที่อยุ่อาศัยปัจจุบัน<span><i class="fa fa-print"></i></span></div>
                <div class="chartwrapper">
                    <div class="item" id="chartStuPlace"></div>
                </div>

            </div>

            <div class="content" ng-show='isVisible === "numEdu"'>
                <div class="alert alert-info">
                    <strong>อ้างอิง</strong> รายงานบุคลากรทั้งหมดจําแนกตาม ประเภทบุคลากรและสายงาน ภาคการศึกษา 2/2558
                </div>

                <div class="content_head">จำนวนบุคลากร<span><i class="fa fa-print"></i></span></div>




                <!-- panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">ตารางแสดงจำนวนบุคลากรแยกตามปีการศึกษา</div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>ปีการศึกษา</th>
                                <th>อาจารย์</th>
                                <th>นักวิจัย</th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><a href="#">2551</a></th>
                                <td>132</td>
                                <td>23</td>


                            </tr>
                            <tr>
                                <th scope="row"><a href="#">2552</a></th>
                                <td>134</td>
                                <td>43</td>


                            </tr>
                            <tr>
                                <th scope="row"><a href="#">2553</a></th>
                                <td>146</td>
                                <td>31</td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">2554</a></th>
                                <td>147</td>
                                <td>65</td>


                            </tr>
                            <tr>
                                <th scope="row"><a href="#">2555</a></th>
                                <td>157</td>
                                <td>43</td>


                            </tr>
                            <tr>
                                <th scope="row"><a href="#">2556</a></th>
                                <td>154</td>
                                <td>23</td>


                            </tr>
                            <tr>
                                <th scope="row"><a href="#">2557</a></th>
                                <td>158</td>
                                <td>12</td>


                            </tr>
                            <tr>
                                <th scope="row"><a href="#">2558</a></th>
                                <td>156</td>
                                <td>32</td>


                            </tr>
                            <tr>
                                <th scope="row"><a href="#">2559</a></th>
                                <td>162</td>
                                <td>43</td>


                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- end panel -->

                <div class="item" id="numeduchart"></div>

            </div>

            <div class="content" ng-show='isVisible === "eduOverview"'>
                <div class="content_head">เกรดเฉลี่ยรวมของนิสิตภาควิศวคอมพิวเตอร์แยกตามรุ่น<span><i class="fa fa-print"></i></span></div>
                <div class="chartwrapper">
                    <div class="item" id="eduOverview"></div>
                </div>

            </div>

            <div class="content" ng-show='isVisible === "eduOverview"'>
                <div class="content_head">เกรดเฉลี่ยรวมของนิสิตจำแนกตามวิชา<span><i class="fa fa-print"></i></span></div>
                <div class="chartwrapper">
                    <div class="item" id="course1"></div>
                    <div class="item" id="course2"></div>
                    <div class="item" id="course3"></div>
                </div>

            </div>

            <div class="content" ng-show='isVisible === "thesisOverview"'>
                <div class="content_head">ภาพรวมวิทยานิพนธ์ของคณะ<span><i class="fa fa-print"></i></span></div>
                <div class="meterGroup">
                    <div class="meter" id="m_thpub"></div>
                    <div class="meter" id="m_intpub"></div>

                    <!-- <div class="meter" id="numStuSum"></div> -->
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">ปริญญาโท</div>
                    <div class="panel-body">

                        <p>สงวนลิขสิทธิ์ วิทยานิพนธ์ของบัณฑิตวิทยาลัย จุฬาลงกรณ์มหาวิทยาลัย จัดทำโดยแอปพลิเคชันซินดิเคท </p>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>รหัส</th>
                                <th>หัวเรื่อง</th>
                                <th>ชื่อผู้แต่ง</th>
                                <th>สาขาวิชา</th>
                                <th>อาจารย์ที่ปรึกษา</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><a href="#">563321094</a></th>
                                <td>การออกแบบและวิเคราะห์อัลกอริทึมในการปิ้งลูกชิ้น</td>
                                <td>นายวชิรกรณ์ รังสิกวานิช</td>
                                <td>วิศวกรรมคอมพิวเตอร์</td>
                                <td>ดร.สมคิด จิตอาสา</td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">513321489</a></th>
                                <td>การสร้างภาพเคลื่อนไหวด้วยคำสั่งเสียง</td>
                                <td>นายสมร สอนสาย</td>
                                <td>วิศวกรรมคอมพิวเตอร์</td>
                                <td>ดร.อะไรดี มีตังใช้</td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">234321489</a></th>
                                <td>เกมเสมือนจริงจำลองการบินของนก</td>
                                <td>นางสาวลารี่ เหินนภา</td>
                                <td>วิศวกรรมคอมพิวเตอร์</td>
                                <td>ศ.ดร.ปัญญา พามีชัย</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>


            <div class="content" ng-show='isVisible === "pollInterest"'>
                <div class="content_head">ผลสำรวจความถนัด/ความสนใจ<span><i class="fa fa-print"></i></span></div>
                <div class="chartwrapper">
                    <div class="item" id="poll1"></div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">อันดับความนิยมของภาษาคอมพิวเตอร์</div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>อันดับ</th>
                                <th>ชื่อ</th>
                                <th>จำนวน</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><a href="#">1</a></th>
                                <td>C++</td>
                                <td>200</td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">2</a></th>
                                <td>Python</td>
                                <td>100</td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">3</a></th>
                                <td>Javascript</td>
                                <td>50</td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">4</a></th>
                                <td>Java</td>
                                <td>40</td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">5</a></th>
                                <td>Ruby on rails</td>
                                <td>35</td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">6</a></th>
                                <td>PHP</td>
                                <td>75</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="content" ng-show='isVisible === "pollInterest"'>
                <div class="content_head">ผลสำรวจความถนัด/ความสนใจ<span><i class="fa fa-print"></i></span></div>
                <div class="chartwrapper">
                    <div class="item" id="poll2"></div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">อันดับงานอดิเรก</div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>อันดับ</th>
                                <th>ชื่อ</th>
                                <th>จำนวน</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><a href="#">1</a></th>
                                <td>เล่นเกม</td>
                                <td>180</td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">2</a></th>
                                <td>ดูอนิเมะ</td>
                                <td>90</td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">3</a></th>
                                <td>เขียนเว็บ</td>
                                <td>87</td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">3</a></th>
                                <td>ดูทีวี</td>
                                <td>43</td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">3</a></th>
                                <td>นอน</td>
                                <td>15</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="content" ng-show='isVisible === "pollInternship"'>
                <div class="content_head">ผลสำรวจการฝึกงาน<span><i class="fa fa-print"></i></span></div>
                <div class="panel panel-default">
                    <div class="panel-heading">ตารางผลสำรวจการฝึกงาน</div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>อันดับ</th>
                                <th>ชื่อหน่วยงาน</th>
                                <th>จำนวนนิสิต</th>
                                <th>คะแนนโหวต</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><a href="#">1</a></th>
                                <td>บริษัท เมจิกซอฟท์แวร์ (ประเทศไทย) จำกัด</td>
                                <td>43</td>
                                <td>
                                    <div id="rate1" style="display:block !important;"></div>
                                </td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">2</a></th>
                                <td>บริษัท เทคโนโลยี่ แอพพลิเคชั่นส์ จำกัด (มหาชน)</td>
                                <td>35</td>
                                <td>
                                    <div id="rate2"></div>
                                </td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">3</a></th>
                                <td>บริษัท จีเคเอ็น ไดรฟไลน์ โตโยดะ แมนูแฟคเจอริ่ง จำกัด</td>
                                <td>10</td>
                                <td>
                                    <div id="rate3"></div>
                                </td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">4</a></th>
                                <td>บริษัท ซินโก้ ซิสเท็ม (ไทยแลนด์) จำกัด</td>
                                <td>20</td>
                                <td>
                                    <div id="rate4"></div>
                                </td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">5</a></th>
                                <td>ห้างหุ้นส่วนจำกัด พราวด์ ยูเนี่ยน กรุ๊ป</td>
                                <td>1</td>
                                <td>
                                    <div id="rate5"></div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="content" ng-show='isVisible === "pollFurtherEdu"'>
                <div class="content_head">ผลสำรวจการศึกษาต่อต่างมหาวิทยาลัย<span><i class="fa fa-print"></i></span></div>
                <div class="panel panel-default">
                    <div class="panel-heading">ตารางผลสำรวจการศึกษาต่อ</div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>อันดับ</th>
                                <th>ชื่อสถานศึกษา</th>
                                <th>จำนวนนิสิต</th>
                                <th>คะแนนโหวต</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><a href="#">1</a></th>
                                <td>สถาบันเทคโนโลยีแมสซาชูเซตส์ (เอ็มไอที)</td>
                                <td>43</td>
                                <td>
                                    <div id="rate6"></div>
                                </td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">2</a></th>
                                <td>มหาวิทยาลัยเคมบริดจ์</td>
                                <td>35</td>
                                <td>
                                    <div id="rate7"></div>
                                </td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">3</a></th>
                                <td>มหาวิทยาลัยโคลัมเบีย</td>
                                <td>9</td>
                                <td>
                                    <div id="rate8"></div>
                                </td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">4</a></th>
                                <td>มหาวิทยาลัยแคลิฟอร์เนีย เบิร์กลีย์</td>
                                <td>7</td>
                                <td>
                                    <div id="rate9"></div>
                                </td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">5</a></th>
                                <td>มหาวิทยาลัยออกซ์ฟอร์ด</td>
                                <td>8</td>
                                <td>
                                    <div id="rate10"></div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="content" ng-show='isVisible === "pollJob"'>
                <div class="content_head">ผลสำรวจการเข้าทำงาน<span><i class="fa fa-print"></i></span></div>
                <div class="panel panel-default">
                    <div class="panel-heading">ตารางผลสำรวจการเข้าทำงาน</div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>อันดับ</th>
                                <th>ชื่อหน่วยงาน</th>
                                <th>จำนวนนิสิต</th>
                                <th>คะแนนโหวต</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><a href="#">1</a></th>
                                <td>Google ประเทศไทย</td>
                                <td>130</td>
                                <td>
                                    <div id="rate11"></div>
                                </td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">2</a></th>
                                <td>Wongnai</td>
                                <td>35</td>
                                <td>
                                    <div id="rate12"></div>
                                </td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">3</a></th>
                                <td>ธนาคารไทยพาณิชย์</td>
                                <td>10</td>
                                <td>
                                    <div id="rate13"></div>
                                </td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">3</a></th>
                                <td>True Corporation</td>
                                <td>20</td>
                                <td>
                                    <div id="rate14"></div>
                                </td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">3</a></th>
                                <td>ตลาดหลักทรัพย์แห่งประเทศไทย</td>
                                <td>1</td>
                                <td>
                                    <div id="rate15"></div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>


        <div class="footer">

        </div>


        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXhWzOAhkZp0VltRHFhwlrwOawGHP02nk&callback=initMap" async defer></script>
        <script type="text/javascript" src="../script/mapthai.js"></script>
        <script type="text/javascript" src="../script/meter.js"></script>
        <script type="text/javascript" src="../script/fillform.js"></script>
        <script type="text/javascript" src="../script/chart.js"></script>
        <script type="text/javascript" src="../script/pie.js"></script>


        <script src="script/app.js"></script>

        <script type="text/javascript">
            var map;
            var lat, lng;

            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: {
                        lat: 13.731735329405648,
                        lng: 100.52818536758423
                    },
                    zoom: 10
                });

                //add location here
                var yourpos = {
                    lat: 13.731735329405648,
                    lng: 100.52818536758423
                };


                // end location variables
                var marker = new google.maps.Marker({
                    position: yourpos,
                    draggable: true,
                    map: map,
                    title: 'Your position'
                });
                google.maps.event.addListener(marker, 'dragend', function() {
                    lat = marker.getPosition().lat();
                    lng = marker.getPosition().lng();
                    $('#latitude').val(lat.toFixed(15));
                    $('#longitude').val(lng.toFixed(15));
                    console.log("changed to lat: " + lat + " lng: " + lng);
                    //do something with the event.
                });
            }
            $(document).ready(function() {
                console.log("username: <%=username%> typeuser: <%=typeuser%> sid: <%=profile.sid%> latitude: <%=profile.latitude%>");
                //$("body").find("input").attr("disabled", "true");
                //$("body").find("textarea").attr("disabled", "true");


                function notifymsg(layout, text) {
                    var n = noty({
                        text: text,
                        type: 'warning',
                        dismissQueue: true,
                        layout: layout,
                        theme: 'defaultTheme'
                    });
                    console.log('html: ' + n.options.id);
                }
                notifymsg('topCenter', 'แจ้งเตือน!คุณไม่ได้อัพเดทข้อมูลตั้งแต่ <b>20/10/2558</b> โปรดอัพเดทข้อมูลส่วนตัวของท่านเพื่อให้ข้อมูลเป็นปัจจุบัน');

                //menu1
                $('#manageprofile').click(function() {

                    setTimeout(function() {
                        fillstudentprofile(<%- JSON.stringify(profile) %>);
                        $(".profile1").find("input").attr("disabled", "true");
                        $(".profile2").find("textarea").attr("disabled", "true");
                        $(".profile3").find("input").attr("disabled", "true");
                        initMap();

                        $('#datetimepicker1').datetimepicker({
                            viewMode: 'years',
                            format: 'DD/MM/YYYY'
                        });
                    }, 200);

                });
                $('#manageedu').click(function() {

                    setTimeout(function() {
                        var data = <%- JSON.stringify(university_datas) %>;
                        var data2 = [{ id: 1, text: 'ปริญญาตรี' }, { id: 2, text: 'ปริญญาโท' }, { id: 3, text: 'ปริญญาเอก' }];

                        $('.js-example-data-array').select2({
                            data:data
                        });
                        $('.js-example-data-array2').select2({
                            data:data2
                        });
                        $('#datetimepicker2').datetimepicker({
                            viewMode: 'years',
                            format: 'DD/MM/YYYY'
                        });
                        fillmanageEdu(<%- JSON.stringify(profileEdus) %>, <%=profile.ssn%>);

                    }, 200);

                });
                $('#managethesis').click(function() {

                    setTimeout(function() {
                        fillmanagethesis(<%- JSON.stringify(thesis) %>);
                        //  $("body").find("input").attr("disabled", "true");
                        //  $("body").find("textarea").attr("disabled", "true");
                    }, 100);
                });
                $('#manageinterested').click(function() {

                    setTimeout(function() {

                        $('#comlang').tagEditor({});
                        $('#hobby').tagEditor({});
                        $('#os').tagEditor({});
                        $('#phone').tagEditor({});

                    }, 100);

                });
                $('#manageinternship').click(function() {

                    setTimeout(function() {
                        $("body").find("input").attr("disabled", "true");
                        fillmanageinternship(<%- JSON.stringify(internship) %>);
                        $("#rateinput").rateYo({
                            rating: 3.6
                        });
                    }, 100);
                });
                $('#managefurtheredu').click(function() {
                    fillmanagefurtheredu(<%- JSON.stringify(furtheredu) %>);
                    setTimeout(function() {
                        $("body").find("input").attr("disabled", "true");

                    }, 100);
                });

                //menu2
                $('#numPeople').click(function() {

                    meternumpeople(<%- JSON.stringify(number_stu) %>);
                    mapthai(<%- JSON.stringify(province) %>);


                });
                $('#numedu_btn').click(function() {
                    numeduchart();



                });
                $("#eduOverview_btn").click(function() {
                    eduoverviewchart();

                });
                $("#thesisOverview_btn").click(function() {
                    meterthesis();

                });
                $("#pollinterest_btn").click(function() {
                    pieinterest();

                });
                $("#pollinternship_btn").click(function() {
                    setTimeout(function() {

                        $("#rate1").rateYo({
                            rating: 4.4,
                            readOnly: true
                        });
                        $("#rate2").rateYo({
                            rating: 4,
                            readOnly: true
                        });
                        $("#rate3").rateYo({
                            rating: 3.6,
                            readOnly: true
                        });
                        $("#rate4").rateYo({
                            rating: 3,
                            readOnly: true
                        });
                        $("#rate5").rateYo({
                            rating: 1,
                            readOnly: true
                        });

                    }, 100);
                });
                $("#pollfurtheredu_btn").click(function() {
                    setTimeout(function() {
                        $("#rate6").rateYo({
                            rating: 4.4,
                            readOnly: true
                        });
                        $("#rate7").rateYo({
                            rating: 4,
                            readOnly: true
                        });
                        $("#rate8").rateYo({
                            rating: 3.6,
                            readOnly: true
                        });
                        $("#rate9").rateYo({
                            rating: 3,
                            readOnly: true
                        });
                        $("#rate10").rateYo({
                            rating: 1,
                            readOnly: true
                        });
                    }, 100);
                });
                $("#polljob_btn").click(function() {
                    setTimeout(function() {
                        $("body").find("input").attr("disabled", "true");
                        $("#rate10").rateYo({
                            rating: 4.4,
                            readOnly: true
                        });
                        $("#rate11").rateYo({
                            rating: 4,
                            readOnly: true
                        });
                        $("#rate12").rateYo({
                            rating: 3.6,
                            readOnly: true
                        });
                        $("#rate13").rateYo({
                            rating: 3,
                            readOnly: true
                        });
                        $("#rate14").rateYo({
                            rating: 1,
                            readOnly: true
                        });
                        $("#rate15").rateYo({
                            rating: 4.4,
                            readOnly: true
                        });
                    }, 100);
                });
                $("#track_btn").click(function() {
                    setTimeout(function() {
                        //oon
                        $('#more_btn5630237221').click(function() {
                            showchart();
                        });
                        //chi
                        $('#more_btn5630520921').click(function() {
                            showchart();
                        });
                        //tee
                        $('#more_btn5631050421').click(function() {
                            showchart();
                        });
                        //ball
                        $('#more_btn5630648621').click(function() {
                            showchart();
                        });
                        //fah
                        $('#more_btn5630513521').click(function() {
                            showchart();
                        });

                        $('#more_btn56301063621').click(function() {
                            showchart();
                        });


                    }, 100);


                });



            });
        </script>


</body>
