<head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <title>Node editProfile</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

    <!-- load bootstrap css -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <link rel="stylesheet" href="client/style/css-dest/style.min.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/ui-router/release/angular-ui-router.min.js"></script>
    <!-- jquery-ui -->
    <link rel="stylesheet" href="bower_components/jquery-ui/jquery-ui.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <!-- tag-editor -->
    <script src="bower_components/jquery-tag-editor/jquery.tag-editor.js"></script>
    <link rel="stylesheet" href="bower_components/jquery-tag-editor/jquery.tag-editor.css">
    <!-- circliful -->
    <link href="bower_components/circliful/css/jquery.circliful.css" rel="stylesheet" type="text/css" />
    <script src="bower_components/circliful/js/jquery.circliful.min.js"></script>
    <!-- hmap -->
    <script src="bower_components/highcharts/highcharts.js"></script>
    <script src="bower_components/highcharts/modules/map.js"></script>
    <script src="bower_components/highcharts/modules/data.js"></script>
    <script src="bower_components/highcharts/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/mapdata/countries/th/th-all.js"></script>

    <!-- rateYo -->
    <link rel="stylesheet" href="bower_components/rateYo/min/jquery.rateyo.min.css" />
    <script src="bower_components/rateYo/min/jquery.rateyo.min.js"></script>

    <!-- collapse -->
    <script type="text/javascript" src="bower_components/collapsible.js/jquery.collapsible.js"></script>
    <!--modals  -->
    <script src="bower_components/bootstrap/js/modal.js"></script>
    <!-- bootstrap social -->
    <link href="bower_components/bootstrap-social/bootstrap-social.css" rel="stylesheet" type="text/css" />
    <!-- noty -->
    <script type="text/javascript" src="bower_components/noty/js/noty/packaged/jquery.noty.packaged.min.js"></script>
</head>


<body ng-app="sindicate">


    <div class="header">
        <div class="toptools">
            <div class="logo" style="background:url('/images/people.svg') no-repeat center center;background-size:contain;">
                <!-- <p>
                    sindicate <span><i class="fa fa-pie-chart"></i></span>
                </p> -->
            </div>
            <div class="notify">
                test
            </div>
            <div class="logout">
                <p>
                    <a href="/logout">ออกจากระบบ</a>
                </p>
            </div>
        </div>
        <div class="brief-profile">
            <div class="circle-picture" style="background:url('/images/mypic.jpg') center center;background-size:cover;"></div>
            <div class="desc">
                <div class="greeting_msg">
                    <%=  msg %>
                </div>

                <p>วชิรกรณ์ รังสิกวานิช</p>

                <div class="icontools">
                    <div class="item">
                        <a href="/editProfile">
                            <p class="rightborder"> <span><i class="fa fa-share-square-o" aria-hidden="true"></i></span> แชร์ข้อมูลของคุณสิ</p>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <p><span><i class="fa fa-file-image-o" aria-hidden="true"></i></span> อัพโหลดรูปโปรไฟล์</p>
                        </a>
                    </div>

                </div>

            </div>
            <div class="desc">
                <p class="thx"> <span><i class="fa fa-line-chart"></i></span> ขอบคุณที่ให้ข้อมูลกับเราเพื่อนำไปพัฒนาปรับปรุงคุณภาพนิสิตต่อไป
                </p>

                <div class="progress">

                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                        70%
                    </div>
                </div>
            </div>

        </div>


    </div>

    <div class="layout" ng-controller="MainController">
        <div class="menuwrapper">
            <div class="menu">
                <div class="menuname">
                    ข้อมูลส่วนตัว
                </div>

                <ul>
                    <li ng-click='isVisible = "manageProfile"'><a id="manageprofile" href="">ข้อมูลส่วนตัว</a></li>
                    <li ng-click='isVisible = "manageEdu"'><a id="manageedu" href="">ข้อมูลการศึกษา</a></li>
                    <li ng-click='isVisible = "manageThesis"'><a id="managethesis" href="">ข้อมูลวิทยานิพนธ์</a></li>
                    <li ng-click='isVisible = "manageInterested"'><a id="manageinterested" href="">ข้อมูลความถนัด/ความสนใจ</a></li>
                    <li ng-click='isVisible = "manageInternship"'><a id="manageinternship" href="">ข้อมูลการฝึกงาน</a></li>
                    <li ng-click='isVisible = "manageFurtherEdu"'><a id="managefurtheredu" href="">ข้อมูลการศึกษาต่อ</a></li>


                </ul>
            </div>
            <div class="menu">
                <div class="menuname">
                    สถิติของภาควิชา
                </div>


                <ul>
                    <li ng-click='isVisible = "numPeople"'><a id="numPeople" href="">จำนวนนิสิต</a></li>
                    <li ng-click='isVisible = "numEdu"'><a id="numedu_btn" href="">จำนวนบุคลากร</a></li>
                    <li ng-click='isVisible = "eduOverview"'><a id="eduOverview_btn" href="">ภาพรวมทางการศึกษา</a></li>
                    <li ng-click='isVisible = "thesisOverview"'><a id="thesisOverview_btn" href="">ภาพรวมวิทยานิพนธ์</a></li>
                    <li ng-click='isVisible = "pollInterest"'><a id="pollinterest_btn" href="">ผลสำรวจความถนัด/ความสนใจ</a></li>
                    <li ng-click='isVisible = "pollInternship"'><a id="pollinternship_btn" href="">ผลสำรวจการฝึกงาน</a></li>
                    <li ng-click='isVisible = "pollFurtherEdu"'><a id="pollfurtheredu_btn" href="">ผลสำรวจการศึกษาต่อ</a></li>
                    <li ng-click='isVisible = "pollJob"'><a id="polljob_btn" href="">ผลสำรวจการประกอบอาชีพ</a></li>
                </ul>
            </div>
            <!-- <div class="menu">
                <div class="menuname">
                    เครื่องมือ
                </div>


                <ul>
                    <li ng-click='isVisible = "track"'><a id="track" href="">ระบบติดตามผลการเรียนนิสิต</a></li>

                </ul>
            </div> -->
        </div>

        <div class="contentwrapper">

            <!-- manage profile -->
            <div class="content" ng-show='isVisible === "manageProfile"'>
                <div class="content_head">จัดการข้อมูลส่วนตัว<span><i class="fa fa-print"></i></span></div>
                <form id="manageprofiledata">

                    <div class="form-group">
                        <div class="form-group">
                            <label for="x">รหัสนิสิต</label>
                            <input type="text" class="form-control" id="stuid" placeholder="">
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="x">ชื่อ</label>
                            <input type="text" class="form-control" id="firstName" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="x">นามสกุล</label>
                            <input type="text" class="form-control" id="lastName" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="x">เบอร์โทร</label>
                        <input type="text" class="form-control" id="tel" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="x">เพศ</label>
                        <input type="text" class="form-control" id="gender" placeholder="">

                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="x">คณะ</label>
                            <input type="text" class="form-control" id="faculty" placeholder="">

                        </div>
                        <div class="form-group">
                            <label for="x">ภาค</label>
                            <input type="text" class="form-control" id="department" placeholder="">

                        </div>
                    </div>


                    <div class="form-group" style="width:300px;">
                        <label for="x">วันเกิด</label>
                        <input type="text" class="form-control" id="birthdate" placeholder="">
                    </div>
                    <!-- addr main -->
                    <label for="x" style="margin-top:30px;vertical-align:bottom;font-size:30px;">ที่อยู่ตามทะเบียนบ้าน</label>
                    <hr />

                    <div class="form-inline">
                        <div class="form-group" style="">
                            <label for="x">เลขที่</label>
                            <input type="text" class="form-control" id="f_address" placeholder="">
                        </div>
                        <div class="form-group" style="">
                            <label for="x">หมู่</label>
                            <input type="text" class="form-control" id="f_moo" placeholder="">
                        </div>
                        <div class="form-group" style="">
                            <label for="x">ถนน</label>
                            <input type="text" class="form-control" id="f_road" placeholder="">
                        </div>
                        <div class="form-group" style="">
                            <label for="x">แขวง/ตำบล</label>
                            <input type="text" class="form-control" id="f_subDistrict" placeholder="">
                        </div>
                        <div class="form-group" style="">
                            <label for="x">เขต/อำเภอ</label>
                            <input type="text" class="form-control" id="f_district" placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="x">จังหวัด/เมือง</label>
                            <input type="text" class="form-control" id="f_city" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="x">รหัสไปรษณีย์</label>
                            <input type="text" class="form-control" id="f_postcode" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="x">ประเทศ</label>
                            <input type="text" class="form-control" id="f_country" placeholder="">
                        </div>
                    </div>
                    <!-- addr now -->
                    <label for="x" style="margin-top:30px;vertical-align:bottom;font-size:30px;">ที่อยู่ปัจจุบัน</label>
                    <hr />

                    <div class="form-inline">

                        <div class="form-group" style="">
                            <label for="x">เลขที่</label>
                            <input type="text" class="form-control" id="s_address" placeholder="">
                        </div>
                        <div class="form-group" style="">
                            <label for="x">หมู่</label>
                            <input type="text" class="form-control" id="s_moo" placeholder="">
                        </div>
                        <div class="form-group" style="">
                            <label for="x">ถนน</label>
                            <input type="text" class="form-control" id="s_road" placeholder="">
                        </div>
                        <div class="form-group" style="">
                            <label for="x">แขวง/ตำบล</label>
                            <input type="text" class="form-control" id="s_subDistrict" placeholder="">
                        </div>
                        <div class="form-group" style="">
                            <label for="x">เขต/อำเภอ</label>
                            <input type="text" class="form-control" id="s_district" placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="x">จังหวัด/เมือง</label>
                            <input type="text" class="form-control" id="s_city" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="x">รหัสไปรษณีย์</label>
                            <input type="text" class="form-control" id="s_postcode" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="x">ประเทศ</label>
                            <input type="text" class="form-control" id="s_country" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="x" style="margin-top:30px;vertical-align:bottom;font-size:30px;">ปักหมุดที่อยู่ของคุณ</label>
                            <hr />
                            <div class="chartwrapper">
                                <div id="map"></div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group last">
                        <button id="manageprofile_edit_btn" type="submit" class="btn btn-default">แก้ไข</button>
                        <button id="manageprofile_submit_btn" type="submit" class="btn btn-default">ยืนยัน</button>
                    </div>
                </form>
            </div>
            <!-- end manage profile -->
            <div class="content" ng-show='isVisible === "manageEdu"'>
                <div class="content_head">ข้อมูลทางการศึกษา<span><i class="fa fa-print"></i></span></div>
                <form class="" action="" method="post">


                    <label for="x" style="font-size:20px;">ป.ตรี</label>
                    <div class="tab">

                        <div id="eduGroup" class="form-inline">

                            <div class="form-group">
                                <label for="x">ชื่อสถานศึกษา</label>
                                <input type="text" class="form-control" id="b_uniName" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="x">วุฒิการศึกษา</label>
                                <input type="text" class="form-control" id="b_degree" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="x">สาขาวิชา</label>
                                <input type="text" class="form-control" id="b_branch" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="x">ปีที่สำเร็จ</label>
                                <input type="text" class="form-control" id="b_graduateYear" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="x">เกรดเฉลี่ย</label>
                                <input type="text" class="form-control" id="b_gpa" placeholder="">
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <label for="x" style="font-size:20px;">ป.โท</label>
                    <div class="tab">

                        <div id="eduGroup" class="form-inline">

                            <div class="form-group">
                                <label for="x">ชื่อสถานศึกษา</label>
                                <input type="text" class="form-control" id="m_uniName" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="x">วุฒิการศึกษา</label>
                                <input type="text" class="form-control" id="m_degree" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="x">สาขาวิชา</label>
                                <input type="text" class="form-control" id="m_branch" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="x">ปีที่สำเร็จ</label>
                                <input type="text" class="form-control" id="m_graduateYear" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="x">เกรดเฉลี่ย</label>
                                <input type="text" class="form-control" id="m_gpa" placeholder="">
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <label for="x" style="font-size:20px;">ป.เอก</label>
                    <div class="tab">

                        <div id="eduGroup" class="form-inline">

                            <div class="form-group">
                                <label for="x">ชื่อสถานศึกษา</label>
                                <input type="text" class="form-control" id="d_uniName" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="x">วุฒิการศึกษา</label>
                                <input type="text" class="form-control" id="d_degree" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="x">สาขาวิชา</label>
                                <input type="text" class="form-control" id="d_branch" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="x">ปีที่สำเร็จ</label>
                                <input type="text" class="form-control" id="d_graduateYear" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="x">เกรดเฉลี่ย</label>
                                <input type="text" class="form-control" id="d_gpa" placeholder="">
                            </div>
                        </div>

                    </div>
                    <hr/>
                    <div class="form-group" style="width:500px;">
                        <label for="x">สถานที่ทำงาน</label>
                        <input type="text" class="form-control" id="x" placeholder="">
                    </div>
                    <div class="form-group" style="width:500px;">
                        <label for="x">หลักสูตรที่ศึกษา</label>
                        <input type="text" class="form-control" id="x" placeholder="">
                    </div>
                    <div class="form-group" style="width:500px;">
                        <label for="x">สถานภาพแรกเข้า</label>
                        <select class="form-control">
                            <option value="normal">สามัญ</option>
                            <option value="try">ทดลองศึกษา</option>

                        </select>
                    </div>
                    <div class="form-group" style="width:500px;">
                        <label for="x">คะแนนสอบภาษาอังกฤษ</label>
                        <input type="text" class="form-control" id="x" placeholder="">
                    </div>
                    <div class="form-group last">
                        <button id="manageEdu_edit_btn" type="submit" class="btn btn-default">แก้ไข</button>
                        <button id="manageEdu_submit_btn" type="submit" class="btn btn-default">ยืนยัน</button>
                    </div>

                </form>
            </div>
            <!-- end manage edu -->
            <!-- myThesis -->
            <div class="content" ng-show='isVisible === "manageThesis"'>
                <div class="alert alert-warning">
                    <strong>แจ้งเตือน!</strong> นิสิตปริญญาตรีไม่สามารถแก้ไขข้อมูลวิทยานิพนธ์ได้.
                </div>
                <div class="content_head">ข้อมูลวิทยานิพนธ์ของคุณ<span><i class="fa fa-print"></i></span></div>

                <form id="thesisdata">
                    <div class="form-group">
                        <label for="x">ชื่อวิทยานิพนธ์(ไทย)</label>
                        <input type="text" class="form-control" id="thesisTH" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="x">ชื่อวิทยานิพนธ์(อังกฤษ)</label>
                        <input type="text" class="form-control" id="thesisEN" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="x">อาจารย์ที่ปรึกษา</label>
                        <input type="text" class="form-control" id="advisor" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="x">อาจารย์ที่ปรึกษาร่วม</label>
                        <input type="text" class="form-control" id="coadvisor" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="x">ทุนที่ได้รับ</label>
                        <textarea class="form-control" id="scholarship" rows="3" placeholder=""></textarea>

                    </div>
                    <div class="form-group">
                        <label for="x">รางวัลที่ได้รับ</label>
                        <textarea class="form-control" id="award" rows="3" placeholder=""></textarea>

                    </div>
                    <div class="form-group">
                        <label for="x">ผลงานที่เข้าร่วมประชุมวิชาการในประเทศ</label>
                        <textarea class="form-control" id="thconference" rows="3" placeholder=""></textarea>

                    </div>
                    <div class="form-group">
                        <label for="x">ผลงานที่เข้าร่วมประชุมวิชาการต่างประเทศ</label>
                        <textarea class="form-control" id="intconference" rows="3" placeholder=""></textarea>

                    </div>
                    <div class="form-group">
                        <label for="x">ผลงานที่ได้ตีพิมพ์ในประเทศ</label>
                        <textarea class="form-control" id="thpub" rows="3" placeholder=""></textarea>

                    </div>
                    <div class="form-group">
                        <label for="x">ผลงานที่ได้ตีพิมพ์ต่างประเทศ</label>
                        <textarea class="form-control" id="intpub" rows="3" placeholder=""></textarea>

                    </div>
                    <div class="form-group last">
                        <button id="thesis_edit_btn" type="submit" class="btn btn-default">แก้ไข</button>
                        <button id="thesis_submit_btn" type="submit" class="btn btn-default">ยืนยัน</button>
                    </div>

                </form>


            </div>

            <div class="content" ng-show='isVisible === "manageThesis"'>
                <div class="content_head">แฟ้มเก็บวิทยานิพนธ์<span><i class="fa fa-print"></i></span></div>
                <button class="file-upload">
                    <input type="file" class="file-input">Choose File</button>

            </div>
            <!-- end myThesis -->
            <!-- manage internship -->
            <div class="content" ng-show='isVisible === "manageInterested"'>
                <div class="content_head">ข้อมูลความถนัด/ความสนใจ<span><i class="fa fa-print"></i></span></div>

                <label for="x" style="font-size:20px;padding:10px">ภาษาคอมพิวเตอร์ที่ถนัด</label>
                <textarea id="comlang" rows="2" cols="50">c++,java</textarea>
                <label for="x" style="font-size:20px;padding:10px">งานอดิเรก</label>
                <textarea id="hobby"></textarea>
                <label for="x" style="font-size:20px;padding:10px">ระบบปฏิบัติการที่ชอบ</label>
                <textarea id="os"></textarea>
                <label for="x" style="font-size:20px;padding:10px">ใช้โทรศัพท์ยี่ห้อ</label>
                <textarea id="phone"></textarea>


            </div>

            <div class="content" ng-show='isVisible === "manageInternship"'>
                <div class="content_head">ข้อมูลการฝึกงาน<span><i class="fa fa-print"></i></span></div>
                <form id="internshipdata">
                    <div class="form-group">
                        <label for="x">ชื่อหน่วยงาน</label>
                        <input type="text" class="form-control" id="nameInternshipCompany" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="x">วันที่เริ่มฝึกงาน</label>
                        <input type="text" class="form-control" id="startDateIntern" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="x">วันที่จบฝึกงาน</label>
                        <input type="text" class="form-control" id="endDateIntern" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="x">ความประทับใจของคุณต่อหน่วยงาน</label>
                        <textarea class="form-control" id="impression" rows="3" placeholder=""></textarea>


                    </div>

                    <div class="form-group">
                        <label for="x">คะแนน</label>
                        <div id="rateinput"></div>

                    </div>

                    <div class="form-group last">
                        <button id="thesis_edit_btn" type="submit" class="btn btn-default">แก้ไข</button>
                        <button id="thesis_submit" type="submit" class="btn btn-default">ยืนยัน</button>
                    </div>

                </form>

            </div>
            <!-- manage further edu -->
            <div class="content" ng-show='isVisible === "manageFurtherEdu"'>
                <div class="content_head">ข้อมูลการศึกษาต่อต่างมหาวิทยาลัย<span><i class="fa fa-print"></i></span></div>
                <form id="internshipdata">
                    <div class="form-group">
                        <label for="x">ชื่อมหาวิทยาลัย</label>
                        <input type="text" class="form-control" id="thesisTH" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="x">วันที่เข้าศึกษา</label>
                        <input type="text" class="form-control" id="thesisEN" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="x">ปีที่คาดว่าจะจบ</label>
                        <input type="text" class="form-control" id="advisor" placeholder="">
                    </div>

                    <div class="form-group last">
                        <button id="thesis_edit_btn" type="submit" class="btn btn-default">แก้ไข</button>
                        <button id="thesis_submit_btn" type="submit" class="btn btn-default">ยืนยัน</button>
                    </div>

                </form>
            </div>
            <!-- departmental students -->



            <div class="content" ng-show='isVisible === "numPeople"'>
                <div class="alert alert-info">
                    <strong>อ้างอิง</strong> รายงานจํานวนนิสิตทั้งหมด ภาคการศึกษา 2/2558 จําแนกตามคณะ สาขาวิชา ระดับการศึกษา
                </div>
                <div class="content_head">ข้อมูลจำนวนนิสิตจำแนกตามเพศ<span><i class="fa fa-print"></i></span></div>
                <!-- panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">ตารางแสดงจำนวนนิสิตแยกตามเพศ</div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>ระดับการศึกษา</th>
                                <th>ชาย</th>
                                <th>หญิง</th>
                                <th>รวม</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><a href="#">ปริญญาตรี</a></th>
                                <td>354</td>
                                <td>55</td>
                                <td>409</td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">ปริญญาโท</a></th>
                                <td>32</td>
                                <td>8</td>
                                <td>40</td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">ปริญญาเอก</a></th>
                                <td>23</td>
                                <td>8</td>
                                <td>31</td>

                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- end panel -->
                <div class="meterGroup" style="width:50%;">
                    <div class="meter" id="male"></div>
                    <div class="meter" id="female"></div>

                </div>

            </div>

            <div class="content" ng-show='isVisible === "numPeople"'>
                <div class="alert alert-info">
                    <strong>อ้างอิง</strong> รายงานจํานวนนิสิตทั้งหมด ภาคการศึกษา 2/2558 จําแนกตามคณะ สาขาวิชา ระดับการศึกษา
                </div>
                <div class="content_head">ข้อมูลจำนวนนิสิตจำแนกตามสถานะ<span><i class="fa fa-print"></i></span></div>
                <!-- panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">ตารางแสดงจำนวนนิสิตแยกตามเพศ</div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>ระดับการศึกษา</th>
                                <th>ปกติ</th>
                                <th>แลกเปลี่ยน</th>
                                <th>ดรอป</th>
                                <th>รีไทล์</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><a href="#">ปริญญาตรี</a></th>
                                <td>360</td>
                                <td>20</td>
                                <td>20</td>
                                <td>9</td>

                            </tr>
                            <tr>
                              <th scope="row"><a href="#">ปริญญาโท</a></th>
                              <td>30</td>
                              <td>10</td>
                              <td>0</td>
                              <td>0</td>

                            </tr>
                            <tr>
                              <th scope="row"><a href="#">ปริญญาเอก</a></th>
                              <td>28</td>
                              <td>3</td>
                              <td>0</td>
                              <td>0</td>

                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- end panel -->
                <label for="x" style="font-size:20px;padding:10px">ปริญญาตรี</label>
                <div class="meterGroup">
                    <div class="meter" id="b_numStu"></div>
                    <div class="meter" id="b_numStuExchange"></div>
                    <div class="meter" id="b_numStuDrop"></div>
                    <div class="meter" id="b_numStuRetry"></div>

                    <!-- <div class="meter" id="numStuSum"></div> -->
                </div>

                <hr>

                <label for="x" style="font-size:20px;padding:10px">ปริญญาโท</label>
                <div class="meterGroup">
                    <div class="meter" id="m_numStu"></div>
                    <div class="meter" id="m_numStuExchange"></div>
                    <div class="meter" id="m_numStuDrop"></div>
                    <div class="meter" id="m_numStuRetry"></div>

                    <!-- <div class="meter" id="numStuSum"></div> -->
                </div>
                <hr>

                <label for="x" style="font-size:20px;padding:10px">ปริญญาเอก</label>
                <div class="meterGroup">
                    <div class="meter" id="d_numStu"></div>
                    <div class="meter" id="d_numStuExchange"></div>
                    <div class="meter" id="d_numStuDrop"></div>
                    <div class="meter" id="d_numStuRetry"></div>

                    <!-- <div class="meter" id="numStuSum"></div> -->
                </div>
                <hr>


            </div>
            <div class="content" ng-show='isVisible === "numPeople"'>
                <div class="alert alert-info">
                    <strong>อ้างอิง</strong> รายงานจํานวนนิสิตทั้งหมด ภาคการศึกษา 2/2558 จําแนกตามคณะ สาขาวิชา ระดับการศึกษา
                </div>
                <div class="content_head">ข้อมูลจำนวนนิสิตจำแนกตามที่อยุ่อาศัยปัจจุบัน<span><i class="fa fa-print"></i></span></div>
                <div class="chartwrapper">
                    <div class="item" id="chartStuPlace"></div>
                </div>

            </div>

            <div class="content" ng-show='isVisible === "numEdu"'>
                <div class="alert alert-info">
                    <strong>อ้างอิง</strong> รายงานบุคลากรทั้งหมดจําแนกตาม ประเภทบุคลากรและสายงาน ภาคการศึกษา 2/2558
                </div>

                <div class="content_head">จำนวนบุคลากร<span><i class="fa fa-print"></i></span></div>




                <!-- panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">ตารางแสดงจำนวนบุคลากรแยกตามปีการศึกษา</div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>ปีการศึกษา</th>
                                <th>อาจารย์</th>
                                <th>นักวิจัย</th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><a href="#">2551</a></th>
                                <td>132</td>
                                <td>23</td>


                            </tr>
                            <tr>
                              <th scope="row"><a href="#">2552</a></th>
                              <td>134</td>
                              <td>43</td>


                            </tr>
                            <tr>
                              <th scope="row"><a href="#">2553</a></th>
                              <td>146</td>
                              <td>31</td>

                            </tr>
                            <tr>
                              <th scope="row"><a href="#">2554</a></th>
                              <td>147</td>
                              <td>65</td>


                            </tr>
                            <tr>
                              <th scope="row"><a href="#">2555</a></th>
                              <td>157</td>
                              <td>43</td>


                            </tr>
                            <tr>
                              <th scope="row"><a href="#">2556</a></th>
                              <td>154</td>
                              <td>23</td>


                            </tr>
                            <tr>
                              <th scope="row"><a href="#">2557</a></th>
                              <td>158</td>
                              <td>12</td>


                            </tr>
                            <tr>
                              <th scope="row"><a href="#">2558</a></th>
                              <td>156</td>
                              <td>32</td>


                            </tr>
                            <tr>
                              <th scope="row"><a href="#">2559</a></th>
                              <td>162</td>
                              <td>43</td>


                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- end panel -->

                  <div class="item" id="numeduchart"></div>

            </div>

            <div class="content" ng-show='isVisible === "eduOverview"'>
                <div class="content_head">เกรดเฉลี่ยรวมของนิสิตภาควิศวคอมพิวเตอร์<span><i class="fa fa-print"></i></span></div>
                <div class="chartwrapper">
                    <div class="item" id="eduOverview"></div>
                </div>

            </div>

            <div class="content" ng-show='isVisible === "eduOverview"'>
                <div class="content_head">เกรดเฉลี่ยรวมของนิสิตจำแนกตามวิชา<span><i class="fa fa-print"></i></span></div>
                <div class="chartwrapper">
                    <div class="item" id="course1"></div>
                      <div class="item" id="course2"></div>
                        <div class="item" id="course3"></div>
                </div>

            </div>

            <div class="content" ng-show='isVisible === "thesisOverview"'>
                <div class="content_head">ภาพรวมวิทยานิพนธ์ของคณะ<span><i class="fa fa-print"></i></span></div>
                <div class="meterGroup">
                    <div class="meter" id="m_thpub"></div>
                    <div class="meter" id="m_intpub"></div>

                    <!-- <div class="meter" id="numStuSum"></div> -->
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">ปริญญาโท</div>
                    <div class="panel-body">

                        <p>สงวนลิขสิทธิ์ วิทยานิพนธ์ของบัณฑิตวิทยาลัย จุฬาลงกรณ์มหาวิทยาลัย จัดทำโดยแอปพลิเคชันซินดิเคท </p>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>รหัส</th>
                                <th>หัวเรื่อง</th>
                                <th>ชื่อผู้แต่ง</th>
                                <th>สาขาวิชา</th>
                                <th>อาจารย์ที่ปรึกษา</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><a href="#">563321094</a></th>
                                <td>การออกแบบและวิเคราะห์อัลกอริทึมในการปิ้งลูกชิ้น</td>
                                <td>นายวชิรกรณ์ รังสิกวานิช</td>
                                <td>วิศวกรรมคอมพิวเตอร์</td>
                                <td>ดร.สมคิด จิตอาสา</td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">513321489</a></th>
                                <td>การสร้างภาพเคลื่อนไหวด้วยคำสั่งเสียง</td>
                                <td>นายสมร สอนสาย</td>
                                <td>วิศวกรรมคอมพิวเตอร์</td>
                                <td>ดร.อะไรดี มีตังใช้</td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">234321489</a></th>
                                <td>เกมเสมือนจริงจำลองการบินของนก</td>
                                <td>นางสาวลารี่ เหินนภา</td>
                                <td>วิศวกรรมคอมพิวเตอร์</td>
                                <td>ศ.ดร.ปัญญา พามีชัย</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>


            <div class="content" ng-show='isVisible === "pollInterest"'>
                <div class="content_head">ผลสำรวจความถนัด/ความสนใจ<span><i class="fa fa-print"></i></span></div>
                <div class="chartwrapper">
                    <div class="item" id="poll1"></div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">อันดับความนิยมของภาษาคอมพิวเตอร์</div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>อันดับ</th>
                                <th>ชื่อ</th>
                                <th>จำนวน</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><a href="#">1</a></th>
                                <td>C++</td>
                                <td>200</td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">2</a></th>
                                <td>Python</td>
                                <td>100</td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">3</a></th>
                                <td>Javascript</td>
                                <td>50</td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">4</a></th>
                                <td>Java</td>
                                <td>40</td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">5</a></th>
                                <td>Ruby on rails</td>
                                <td>35</td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">6</a></th>
                                <td>PHP</td>
                                <td>75</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="content" ng-show='isVisible === "pollInterest"'>
                <div class="content_head">ผลสำรวจความถนัด/ความสนใจ<span><i class="fa fa-print"></i></span></div>
                <div class="chartwrapper">
                    <div class="item" id="poll2"></div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">อันดับงานอดิเรก</div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>อันดับ</th>
                                <th>ชื่อ</th>
                                <th>จำนวน</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><a href="#">1</a></th>
                                <td>เล่นเกม</td>
                                <td>180</td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">2</a></th>
                                <td>ดูอนิเมะ</td>
                                <td>90</td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">3</a></th>
                                <td>เขียนเว็บ</td>
                                <td>87</td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">3</a></th>
                                <td>ดูทีวี</td>
                                <td>43</td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">3</a></th>
                                <td>นอน</td>
                                <td>15</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="content" ng-show='isVisible === "pollInternship"'>
                <div class="content_head">ผลสำรวจการฝึกงาน<span><i class="fa fa-print"></i></span></div>
                <div class="panel panel-default">
                    <div class="panel-heading">ตารางผลสำรวจการฝึกงาน</div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>อันดับ</th>
                                <th>ชื่อหน่วยงาน</th>
                                <th>จำนวนนิสิต</th>
                                <th>คะแนนโหวต</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><a href="#">1</a></th>
                                <td>บริษัท เมจิกซอฟท์แวร์ (ประเทศไทย) จำกัด</td>
                                <td>43</td>
                                <td>
                                    <div id="rate1" style="display:block !important;"></div>
                                </td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">2</a></th>
                                <td>บริษัท เทคโนโลยี่ แอพพลิเคชั่นส์ จำกัด (มหาชน)</td>
                                <td>35</td>
                                <td>
                                    <div id="rate2"></div>
                                </td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">3</a></th>
                                <td>บริษัท จีเคเอ็น ไดรฟไลน์ โตโยดะ แมนูแฟคเจอริ่ง จำกัด</td>
                                <td>10</td>
                                <td>
                                    <div id="rate3"></div>
                                </td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">4</a></th>
                                <td>บริษัท ซินโก้ ซิสเท็ม (ไทยแลนด์) จำกัด</td>
                                <td>20</td>
                                <td>
                                    <div id="rate4"></div>
                                </td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">5</a></th>
                                <td>ห้างหุ้นส่วนจำกัด พราวด์ ยูเนี่ยน กรุ๊ป</td>
                                <td>1</td>
                                <td>
                                    <div id="rate5"></div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="content" ng-show='isVisible === "pollFurtherEdu"'>
                <div class="content_head">ผลสำรวจการศึกษาต่อต่างมหาวิทยาลัย<span><i class="fa fa-print"></i></span></div>
                <div class="panel panel-default">
                    <div class="panel-heading">ตารางผลสำรวจการศึกษาต่อ</div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>อันดับ</th>
                                <th>ชื่อสถานศึกษา</th>
                                <th>จำนวนนิสิต</th>
                                <th>คะแนนโหวต</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><a href="#">1</a></th>
                                <td>สถาบันเทคโนโลยีแมสซาชูเซตส์ (เอ็มไอที)</td>
                                <td>43</td>
                                <td>
                                    <div id="rate6"></div>
                                </td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">2</a></th>
                                <td>มหาวิทยาลัยเคมบริดจ์</td>
                                <td>35</td>
                                <td>
                                    <div id="rate7"></div>
                                </td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">3</a></th>
                                <td>มหาวิทยาลัยโคลัมเบีย</td>
                                <td>9</td>
                                <td>
                                    <div id="rate8"></div>
                                </td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">4</a></th>
                                <td>มหาวิทยาลัยแคลิฟอร์เนีย เบิร์กลีย์</td>
                                <td>7</td>
                                <td>
                                    <div id="rate9"></div>
                                </td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">5</a></th>
                                <td>มหาวิทยาลัยออกซ์ฟอร์ด</td>
                                <td>8</td>
                                <td>
                                    <div id="rate10"></div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="content" ng-show='isVisible === "pollJob"'>
                <div class="content_head">ผลสำรวจการเข้าทำงาน<span><i class="fa fa-print"></i></span></div>
                <div class="panel panel-default">
                    <div class="panel-heading">ตารางผลสำรวจการเข้าทำงาน</div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>อันดับ</th>
                                <th>ชื่อหน่วยงาน</th>
                                <th>จำนวนนิสิต</th>
                                <th>คะแนนโหวต</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><a href="#">1</a></th>
                                <td>Google ประเทศไทย</td>
                                <td>130</td>
                                <td>
                                    <div id="rate11"></div>
                                </td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">2</a></th>
                                <td>Wongnai</td>
                                <td>35</td>
                                <td>
                                    <div id="rate12"></div>
                                </td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">3</a></th>
                                <td>ธนาคารไทยพาณิชย์</td>
                                <td>10</td>
                                <td>
                                    <div id="rate13"></div>
                                </td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">3</a></th>
                                <td>True Corporation</td>
                                <td>20</td>
                                <td>
                                    <div id="rate14"></div>
                                </td>

                            </tr>
                            <tr>
                                <th scope="row"><a href="#">3</a></th>
                                <td>ตลาดหลักทรัพย์แห่งประเทศไทย</td>
                                <td>1</td>
                                <td>
                                    <div id="rate15"></div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>


        <div class="footer">

        </div>


        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXhWzOAhkZp0VltRHFhwlrwOawGHP02nk&callback=initMap" async defer></script>
        <script type="text/javascript" src="../script/mapthai.js"></script>
        <script type="text/javascript" src="../script/meter.js"></script>
        <script type="text/javascript" src="../script/fillform.js"></script>
        <script type="text/javascript" src="../script/chart.js"></script>
        <script type="text/javascript" src="../script/pie.js"></script>


        <script src="script/app.js"></script>

        <script type="text/javascript">
            var map;

            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: {
                        lat: 13.788399,
                        lng: 100.544284
                    },
                    zoom: 10
                });

                //add location here
                var engchula = {
                    lat: 13.7365719,
                    lng: 100.5332646
                };


                // end location variables
                var marker = new google.maps.Marker({
                    position: engchula,
                    map: map,
                    title: 'Hello World!'
                });


            }
            $(document).ready(function() {
                var n = noty({text: 'noty - a jquery notification library!'});
                $("body").find("input").attr("disabled", "true");
                $("body").find("textarea").attr("disabled", "true");


                //menu1
                $('#manageprofile').click(function() {
                    fillstudentprofile(<%- JSON.stringify(profile) %>);
                    setTimeout(function() {
                        $("body").find("input").attr("disabled", "true");
                        initMap();
                    }, 100);

                });
                $('#managethesis').click(function() {
                    fillmanagethesis(<%- JSON.stringify(thesis) %>);
                    setTimeout(function() {
                        $("body").find("input").attr("disabled", "true");
                        $("body").find("textarea").attr("disabled", "true");
                    }, 100);
                });
                $('#manageinterested').click(function() {

                    setTimeout(function() {

                        $('#comlang').tagEditor({});
                        $('#hobby').tagEditor({});
                        $('#os').tagEditor({});
                        $('#phone').tagEditor({});

                    }, 100);

                });
                $('#manageinternship').click(function() {
                    fillmanageinternship(<%- JSON.stringify(internship) %>);
                    setTimeout(function() {
                        $("body").find("input").attr("disabled", "true");
                        $("#rateinput").rateYo().on("rateyo.change", function(e, data) {

                            var rating = data.rating;
                            $(this).next().text(rating);
                        });
                    }, 100);
                });
                $('#managefurtheredu').click(function() {
                    fillmanagefurtheredu(<%- JSON.stringify(furtheredu) %>);
                    setTimeout(function() {
                        $("body").find("input").attr("disabled", "true");

                    }, 100);
                });

                //menu2
                $('#numPeople').click(function() {
                    meternumpeople();
                    mapthai(<%- JSON.stringify(province) %>);


                });
                $('#numedu_btn').click(function() {
                    numeduchart();



                });
                $("#eduOverview_btn").click(function() {
                    eduoverviewchart();

                });
                $("#thesisOverview_btn").click(function() {
                    meterthesis();

                });
                $("#pollinterest_btn").click(function() {
                    pieinterest();

                });
                $("#pollinternship_btn").click(function() {
                    setTimeout(function() {

                        $("#rate1").rateYo({
                            rating: 4.4,
                            readOnly: true
                        });
                        $("#rate2").rateYo({
                            rating: 4,
                            readOnly: true
                        });
                        $("#rate3").rateYo({
                            rating: 3.6,
                            readOnly: true
                        });
                        $("#rate4").rateYo({
                            rating: 3,
                            readOnly: true
                        });
                        $("#rate5").rateYo({
                            rating: 1,
                            readOnly: true
                        });

                    }, 100);
                });
                $("#pollfurtheredu_btn").click(function() {
                    setTimeout(function() {
                        $("#rate6").rateYo({
                            rating: 4.4,
                            readOnly: true
                        });
                        $("#rate7").rateYo({
                            rating: 4,
                            readOnly: true
                        });
                        $("#rate8").rateYo({
                            rating: 3.6,
                            readOnly: true
                        });
                        $("#rate9").rateYo({
                            rating: 3,
                            readOnly: true
                        });
                        $("#rate10").rateYo({
                            rating: 1,
                            readOnly: true
                        });
                    }, 100);
                });
                $("#polljob_btn").click(function() {
                    setTimeout(function() {
                        $("body").find("input").attr("disabled", "true");
                        $("#rate10").rateYo({
                            rating: 4.4,
                            readOnly: true
                        });
                        $("#rate11").rateYo({
                            rating: 4,
                            readOnly: true
                        });
                        $("#rate12").rateYo({
                            rating: 3.6,
                            readOnly: true
                        });
                        $("#rate13").rateYo({
                            rating: 3,
                            readOnly: true
                        });
                        $("#rate14").rateYo({
                            rating: 1,
                            readOnly: true
                        });
                        $("#rate15").rateYo({
                            rating: 4.4,
                            readOnly: true
                        });
                    }, 100);
                });
                $("#track_btn").click(function() {
                    setTimeout(function() {
                        //oon
                        $('#more_btn5630237221').click(function() {
                            showchart();
                        });
                        //chi
                        $('#more_btn5630520921').click(function() {
                            showchart();
                        });
                        //tee
                        $('#more_btn5631050421').click(function() {
                            showchart();
                        });
                        //ball
                        $('#more_btn5630648621').click(function() {
                            showchart();
                        });
                        //fah
                        $('#more_btn5630513521').click(function() {
                            showchart();
                        });

                        $('#more_btn56301063621').click(function() {
                            showchart();
                        });


                    }, 100);


                });



            });
        </script>


</body>
